@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.ttf");
  font-weight: semibold;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
/* line 45, ../sass/partials/_typography.scss */
h1 {
  font-size: 1.2857em;
  font-weight: 600;
}

/* line 11, ../sass/screen.scss */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-size: 100%;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

/* line 25, ../sass/screen.scss */
a {
  color: #ffffff;
}
/* line 26, ../sass/screen.scss */
a:hover {
  color: #ffffff;
}

/* line 31, ../sass/screen.scss */
.main {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

/* line 38, ../sass/screen.scss */
.header__h1 {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* line 43, ../sass/screen.scss */
.header__h1-center {
  text-align: center;
}

/* line 48, ../sass/screen.scss */
.logo {
  padding-top: 7px;
}

/* line 59, ../sass/screen.scss */
.city__select {
  padding: 12px 0 0 16px;
  font-size: 0.9286em;
  background: url("../img/city_pin.png") 0 10px no-repeat;
}

/* line 71, ../sass/screen.scss */
.slider {
  width: 100%;
  height: auto;
}
/* line 74, ../sass/screen.scss */
.slider__nav {
  padding: 0 4px;
}
/* line 78, ../sass/screen.scss */
.slider__li {
  background-color: #2B2A29;
  border-top: 4px solid #2B2A29;
  border-left: 1px solid #000000;
  border-bottom: 4px solid #2B2A29;
  height: 44px;
  width: 33.333%;
  font-size: 87.5%;
}

/* line 89, ../sass/screen.scss */
.slider > ul > li.active {
  border-top: 4px solid #f33535;
}

/* line 92, ../sass/screen.scss */
.slider__li:first-child {
  border-left: none;
}

/* line 100, ../sass/screen.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #2B2A29;
  border: none;
  border-bottom: 0px;
}

/* line 106, ../sass/screen.scss */
.nav > li > a {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

/* line 112, ../sass/screen.scss */
.tab_body {
  background-color: #2B2A29;
  padding: 2% 0;
}

/* line 118, ../sass/screen.scss */
.find {
  padding: 2% 2%;
}
/* line 121, ../sass/screen.scss */
.find__input {
  width: 84%;
  padding: 0 0 0 4%;
  height: 30px;
  border: 1px solid #979797;
  border-right: none;
  background-color: #3d3a3a;
  float: left;
}
/* line 130, ../sass/screen.scss */
.find__submit {
  display: block;
  width: 16%;
  height: 30px;
  background-color: #f33535;
  border: none;
  float: left;
  color: #ffffff;
}

/* line 142, ../sass/screen.scss */
.menu__li {
  height: 120px;
  text-align: center;
  border-left: 1px solid #3d3c3b;
  border-bottom: 1px solid #3d3c3b;
}
/* line 148, ../sass/screen.scss */
.menu__img {
  margin-top: 40px;
  margin-bottom: 5px;
}

/* line 154, ../sass/screen.scss */
.menu__li:nth-child(2n+1) {
  border-left: none;
}

/* line 158, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 163, ../sass/screen.scss */
.region__btn {
  padding: 16px 0;
  width: 100%;
  text-align: center;
  display: block;
}
/* line 168, ../sass/screen.scss */
.region__btn-red {
  background: #f33535;
  width: 92%;
  margin: 4%;
}

/* line 177, ../sass/screen.scss */
.btn {
  width: 100%;
  padding: 4% 0;
  text-align: center;
  color: #f33535;
  font-size: 1em;
  display: block;
}
/* line 184, ../sass/screen.scss */
.btn__filter {
  border-bottom: 1px solid #cccccc;
}

/* line 192, ../sass/screen.scss */
.tab-pane__h2 {
  font-size: 125%;
  padding: 4% 2% 0%;
}

/* line 197, ../sass/screen.scss */
.cards {
  background: #ffffff;
}
/* line 199, ../sass/screen.scss */
.cards__li {
  border-bottom: 1px solid #cccccc;
  padding: 2% 2%;
}

/* line 206, ../sass/screen.scss */
.card {
  float: left;
}
/* line 209, ../sass/screen.scss */
.card__img {
  width: 37.5%;
  height: auto;
}
/* line 217, ../sass/screen.scss */
.card__text {
  width: 58%;
  margin-left: 3%;
  color: #000000;
}
/* line 221, ../sass/screen.scss */
.card__text-date {
  font-size: 12px;
  font-weight: 500;
  color: #999999;
}
/* line 226, ../sass/screen.scss */
.card__text-name {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin-top: 3%;
}
/* line 232, ../sass/screen.scss */
.card__text-price {
  font-size: 13px;
  font-weight: 600;
  color: #f33535;
  margin-top: 3%;
}
/* line 238, ../sass/screen.scss */
.card__text-character {
  margin-left: -4%;
  margin-top: 6%;
}
/* line 241, ../sass/screen.scss */
.card__text-character li {
  font-size: 12px;
  color: #000000;
  float: left;
  margin-left: 4%;
}

/* line 252, ../sass/screen.scss */
.cabinet {
  padding: 8% 4%;
}
/* line 254, ../sass/screen.scss */
.cabinet__h2 {
  font-size: 125%;
}
/* line 258, ../sass/screen.scss */
.cabinet__form-group {
  margin-top: 2%;
}
/* line 260, ../sass/screen.scss */
.cabinet__form-group > label {
  margin-bottom: 2%;
  font-size: 87.5%;
}
/* line 264, ../sass/screen.scss */
.cabinet__form-group-style {
  border-radius: 0px;
}
/* line 268, ../sass/screen.scss */
.cabinet__reg {
  padding: 4% 0;
  font-size: 87.5%;
}
/* line 272, ../sass/screen.scss */
.cabinet__rel {
  position: relative;
  margin-top: 8%;
  font-size: 87.5%;
  height: 40px;
  text-align: center;
}
/* line 279, ../sass/screen.scss */
.cabinet__social_text {
  position: relative;
  padding: 0 0 2% 0;
}
/* line 282, ../sass/screen.scss */
.cabinet__social_text-in {
  display: inline-block;
  position: relative;
  background: #2B2A29;
  padding: 0 15px;
  height: 20px;
  z-index: 1;
}
/* line 291, ../sass/screen.scss */
.cabinet__social_text:after {
  width: 100%;
  content: '';
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 8px;
  display: block;
  overflow: hidden;
}
/* line 301, ../sass/screen.scss */
.cabinet__social_icons {
  margin: 0 auto;
}
/* line 304, ../sass/screen.scss */
.cabinet__btn-form {
  background: #f33535;
  color: #ffffff;
  border: none;
}

/* line 310, ../sass/screen.scss */
.social_icon {
  width: 28px;
  height: 28px;
  display: inline-block;
}

/* line 316, ../sass/screen.scss */
.vk {
  background: url("../img/color-icons.png") -30px 0 no-repeat;
}

/* line 320, ../sass/screen.scss */
.fb {
  background: url("../img/color-icons.png") 0 0 no-repeat;
}

/* line 323, ../sass/screen.scss */
.ya {
  background: url("../img/color-icons.png") -120px 0 no-repeat;
}

/* line 326, ../sass/screen.scss */
.gm {
  background: url("../img/color-icons.png") -90px 0 no-repeat;
}

/* line 329, ../sass/screen.scss */
.center-text {
  text-align: center;
}

/* Карточка автомобиля*/
/* line 337, ../sass/screen.scss */
.tabpanel__back-link {
  display: inline-block;
  width: 10%;
  height: 10%;
  color: #f33535;
  border: 1px solid #999999;
  line-height: 2;
  text-align: center;
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
  vertical-align: top;
  font-size: 90%;
}
/* line 351, ../sass/screen.scss */
.tabpanel__h2 {
  display: inline-block;
  width: 80%;
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
  line-height: 1.3;
}
/* line 359, ../sass/screen.scss */
.tabpanel__text-b {
  width: 100%;
  background: #fff;
  padding: 4%;
}

/* line 367, ../sass/screen.scss */
.text-b__price-phone {
  width: 100%;
  border: 1px solid #f33535;
  font-size: 85%;
  margin-bottom: 4%;
  display: block;
}
/* line 374, ../sass/screen.scss */
.text-b__price {
  display: inline-block;
  padding: 4% 2%;
  background: #f33535;
}
/* line 379, ../sass/screen.scss */
.text-b__phone {
  display: inline-block;
  padding: 4% 2%;
  color: #000000;
}
/* line 383, ../sass/screen.scss */
.text-b__phone > i {
  color: #f33535;
}
/* line 387, ../sass/screen.scss */
.text-b__t-info {
  width: 100%;
  height: 100%;
  font-size: 85%;
  line-height: 1.8;
  color: #000000;
}
/* line 393, ../sass/screen.scss */
.text-b__t-info tr {
  padding: 2%;
}
/* line 395, ../sass/screen.scss */
.text-b__t-info tr td {
  width: 50%;
  font-weight: 500;
}
/* line 400, ../sass/screen.scss */
.text-b__t-info > tr > td:first-child {
  color: #999999;
}

/* line 405, ../sass/screen.scss */
.tab-relative {
  position: relative;
}

/* line 410, ../sass/screen.scss */
.filter-block {
  background: #fff;
  width: 100%;
  padding: 4%;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  /* если в модальном окне много содержимого, показываем скроллбар */
  overflow: auto;
  /* однопальцевый скролл для iPad*/
  -webkit-overflow-scrolling: touch;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}
/* line 427, ../sass/screen.scss */
.filter-block__h3 {
  font-size: 125%;
  color: #000000;
}
/* line 431, ../sass/screen.scss */
.filter-block__close {
  display: block;
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 100%;
  color: #f33535;
}
/* line 438, ../sass/screen.scss */
.filter-block__close:hover {
  color: #000000;
}
/* line 442, ../sass/screen.scss */
.filter-block__group {
  margin-top: 2%;
}
/* line 445, ../sass/screen.scss */
.filter-block__btn-form {
  margin-top: 6%;
  margin-bottom: 4%;
}
/* line 449, ../sass/screen.scss */
.filter-block__label {
  color: #000000;
  font-size: 75%;
  margin-top: 3%;
  margin-bottom: 2%;
}
/* line 455, ../sass/screen.scss */
.filter-block__select {
  width: 100%;
}
/* line 458, ../sass/screen.scss */
.filter-block__select-x2 {
  width: 49%;
  display: inline-block;
}
/* line 462, ../sass/screen.scss */
.filter-block__input-x2 > div > input {
  width: 49%;
  display: inline-block;
}
/* line 466, ../sass/screen.scss */
.filter-block__input-x2 > div > input:first-child {
  margin-left: 0;
}

/* line 470, ../sass/screen.scss */
.filter-block:target {
  display: block;
  pointer-events: auto;
}
