/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import 'partials/typography';
@import 'partials/var';


body {
	font-family: 'Raleway', sans-serif;
	// font-size: 87.5%;

	font-size: 14px;
	font-size: 100%;
	color: $text-white;
	font-weight: 500;
	width: 100%;
	height: 100%;
	background: #000; 
	overflow: hidden;
}

a {color: #ffffff;
	&:hover {
		color:#ffffff;
	}
}

.main {
	background-color: #000000;
	width: 100%;
	height: 100%;
}


.header__h1 {
	margin-top: 24px;
	margin-bottom: 24px;
}

.header__h1-center {
	text-align: center;
	
}

.logo {
	padding-top: 7px;
	a {
		// display: block;
	} 
	&__img {

	}
}

.city {
	&__select {
		padding: 12px 0 0 16px;
		font-size: 0.9286em;
		background: url('../img/city_pin.png') 0 10px no-repeat;

	}
	&__icon-pin {
		

	}
}

.slider {
		width: 100%;
		height: auto;
	&__nav {
		padding: 0 4px;
	}

	&__li{
		background-color: $bg-color-dark-grey;
		border-top: 4px solid $bg-color-dark-grey;
		border-left: 1px solid $bg-color-black;
		border-bottom: 4px solid $bg-color-dark-grey;
		height: 44px;
		width: 33.333%;
		font-size: 87.5%;

	}
}
.slider>ul>li.active {
			border-top: 4px solid $red;
		}
.slider__li:first-child {
			border-left: none;
		}

// .nav>li>a:focus, .nav>li>a:hover, .nav-tabs>li>a:hover {
// 		background-color: $bg-color-dark-grey;
// 		border:none; 
// }	
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: $bg-color-dark-grey;
	border:none; 
	border-bottom: 0px;
}

.nav > li > a {
	width: 100%;
	padding: 10px 0;
	text-align: center
}

.tab_body {
	background-color: $bg-color-dark-grey;
	// height: 600px;
	padding: 2% 0;
}

.find {
padding: 2% 2%;

	&__input {
		width: 84%;
		padding: 0 0 0 4%;
		height: 30px;
		border: 1px solid #979797;
		border-right: none;
		background-color: #3d3a3a;
		float: left;
	}
	&__submit {
		display: block;
		width: 16%;
		height: 30px;
		background-color: $red;
		border: none;
		float: left;
		color: $text-white;
	}
}

.menu {
	&__li {
		height: 120px;
		text-align: center;
		border-left: 1px solid #3d3c3b;
		border-bottom: 1px solid #3d3c3b;
	}
	&__img {
		// display: block;
		margin-top: 40px;
		margin-bottom: 5px;
	}
}
.menu__li:nth-child(2n+1) {
		border-left: none;
}

.clear {
	clear:both;
}

.region {
	&__btn {
		padding: 16px 0;
		width: 100%;
		text-align: center;
		display: block;
		&-red {
			background: $red;
			width: 92%;
			margin: 4%; 
		}
	}
}

// Кнопка фильтров
.btn {
	width: 100%;
	padding: 4% 0;
	text-align: center;
	color: $red;
	font-size: 1em;
	display: block;
	&__filter {
		border-bottom: 1px solid $grey-border; 
	}
}


// Список авто

.tab-pane__h2 {
	font-size: 125%;
	padding: 4% 2% 0%;
}

.cards {
	background: $bg-color-white;
	&__li {
		border-bottom: 1px solid $grey-border;
		padding: 2% 2%;
	}
	
}

.card {
	float: left;

	&__img {
		width: 37.5%;
		height: auto;
		// &-size {
		// 	width: 100%;
		// 	display: block;
		// }
	}
	&__text {
		width: 58%;
		margin-left: 3%; 
		color: #000000;
		&-date {
			font-size: 12px;
			font-weight: 500;
			color: $text-medium-grey;
		}
		&-name {
			font-size: 13px;
			font-weight: 600;
			color: $text-black;
			margin-top: 3%;
		}
		&-price {
			font-size: 13px;
			font-weight: 600;
			color: $red;
			margin-top: 3%;
		}
		&-character {
			margin-left: -4%;
			margin-top: 6%;
			& li {
				font-size: 12px;
				color: $text-black;
				float: left;
				margin-left: 4%;

			}
		}
	}
}

.cabinet {
	padding: 8% 4%;
	&__h2 {
		font-size: 125%;

	}
	&__form-group {
		margin-top: 2%;
		&>label {
			margin-bottom: 2%;
			font-size:87.5%;
		}
		&-style {
			border-radius: 0px;
		}
	}
	&__reg {
		padding: 4% 0;
		font-size: 87.5%;
	}
	&__rel {
		position: relative;
		margin-top: 8%;
		font-size: 87.5%;
		height: 40px;
		text-align: center;
	}
	&__social_text {
		position: relative;
		padding: 0 0 2% 0;
		&-in{
			display: inline-block;
			position: relative;
			background: $bg-color-dark-grey;
			padding: 0 15px;
			height: 20px;
			z-index: 1;
			}
	}
	&__social_text:after{
		width: 100%;
		content: '';
		height: 1px;
		background: #ccc;
		position: absolute;
		top: 8px;
		display: block;
		overflow: hidden;
	}
	&__social_icons {
		margin: 0 auto;
	}
	&__btn-form {
		background: $red;
		color: $text-white;
		border:none;
	}
}
.social_icon {
	width: 28px;
	height: 28px;
	display: inline-block;
} 

.vk {
	background: url('../img/color-icons.png') -30px 0 no-repeat;
}

.fb {
	background: url('../img/color-icons.png') 0 0 no-repeat;
}
.ya {
	background: url('../img/color-icons.png') -120px 0 no-repeat;
}
.gm {
	background: url('../img/color-icons.png') -90px 0 no-repeat;
}
.center-text {
	text-align: center;
}

/* Карточка автомобиля*/


.tabpanel {
	&__back-link {
		display: inline-block;
		width: 10%;
		height: 10%;
		color: $red;
		border: 1px solid $text-medium-grey;
		line-height: 2;
		text-align: center;
		margin-left: 4%;
		margin-top: 4%;
		margin-bottom: 4%;
		vertical-align: top;
		font-size: 90%;
	}
	&__h2 {
		display: inline-block;
		width: 80%;
		margin-left: 4%;
		margin-top: 4%;
		margin-bottom: 4%;
		line-height: 1.3;
	}
	&__text-b {
		// max-width: 320px;
		width: 100%;
		background: #fff;
		padding: 4%;
	}
}
.text-b{
	&__price-phone {
		width: 100%;
		border: 1px solid $red;
		font-size: 85%;
		margin-bottom: 4%;
		display: block;
	}
	&__price {
		display: inline-block;
		padding: 4% 2%;
		background: $red;
	}
	&__phone {
		display: inline-block;
		padding: 4% 2%;
		color: $text-black;
		& > i {
			color: $red;
		}
	}
	&__t-info {
		width: 100%;
		height: 100%;
		font-size: 85%;
		line-height: 1.8;
		color: $text-black;
		& tr {
			padding: 2%;
			& td {
				width: 50%;
				font-weight: $regular;
			}
		}
		&>tr>td:first-child {
			color: $text-medium-grey;
		}
	}
}
.tab-relative {
	position: relative;
}


.filter-block {
	background: #fff;
	width: 100%;
	padding: 4%;
	position: fixed;
    bottom: 0; left: 0; top: 0; right: 0;
    /* если в модальном окне много содержимого, показываем скроллбар */
    overflow: auto;
    /* однопальцевый скролл для iPad*/
    -webkit-overflow-scrolling: touch;
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;

	&__h3 {
		font-size: 125%;
		color: $text-black;
	}
	&__close {
		display: block;
		position: absolute;
		right: 16px;
		top: 16px;
		font-size: 100%;
		color: $red;
		&:hover {
			color: $text-black;
		}
	}
	&__group {
		margin-top: 2%;
	}
	&__btn-form {
		margin-top: 6%;
		margin-bottom: 4%;
	}
	&__label {
			color: $text-black;
			font-size: 75%;
			margin-top: 3%;
			margin-bottom: 2%;
		}
	&__select {
		width: 100%;	
	}
	&__select-x2 {
		width: 49%;
		display: inline-block;
	}
	&__input-x2 >div>input {
		width: 49%;
		display: inline-block;
	}
	&__input-x2 >div>input:first-child {
		margin-left: 0;
	}
}
.filter-block:target {
	display: block;
	pointer-events: auto;
}
