$bg-color-black: #000000;
$bg-color-white: #ffffff;
$bg-color-dark-grey: #2B2A29;
$bg-color-light-grey: #3D3A3A;
$text-white: #ffffff;
$text-light-grey: #C9C9C9;
$text-medium-grey: #999999;
$text-dark-grey: #666666;
$red: #f33535;